.review-container{
    margin: 50px auto;
}

.checkout-page{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    background: gray;
    color: black;
    
}

.checkout-link{
    text-decoration: none;
}